.button{
    margin: 0;
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    font-size: 16px;
    font-weight: bold;
    transition: none;
}

.icon{
    margin-right: 8px;
    transition: none;
}

.button:hover .text{
    top: auto;
    transition: none;
}

.button:hover .icon{
    bottom: auto;
    transition: none;

}
